<div class="container">
  <div class="row my-2 mb-5">
    <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
      <div class="card z-index-0">
        <div class="card-header text-center pt-4">
          <h5 *ngIf="isEdit">Modifier votre Project: {{ (project$ | async)?.title }}</h5>
          <h5 *ngIf="!isEdit">Add new Project</h5>
        </div>
        <div class="card-body">
          <form role="form text-left" [formGroup]="projectForm">
            <div class="mb-3">
              <label>
                Title
              </label>
              <input type="text"
                     formControlName="title"
                     class="form-control"
                     placeholder="Title">
            </div>
            <div class="mb-3">
              <label>
                Link
              </label>
              <input type="url"
                     formControlName="link"
                     class="form-control"
                     placeholder="Link">
            </div>
<!--            <div class="mb-3">-->
<!--              <label>-->
<!--                Logo-->
<!--              </label>-->
<!--              <input type="file"-->
<!--                      formControlName="logo"-->
<!--                     (change)="onLogoChange($event)"-->
<!--                     class="form-control"-->
<!--                     placeholder="logo">-->
<!--            </div>-->
            <div class="mb-3">
              <label>
                Image <span *ngIf="isEdit"> (keep empty if you don't want to change the image)</span>
              </label>
              <input type="file"
                     formControlName="image"
                     (change)="onImageChange($event)"
                     class="form-control"
                     placeholder="image">
            </div>
            <div class="mb-3">
              <label>
                Technologies
              </label>
              <input type="text"
                      formControlName="technologies"
                     class="form-control"
                     placeholder="Technologies">
            </div>
            <div class="mb-3">
              <label>
                Description
              </label>
              <textarea class="form-control"
                        formControlName="description"
                        placeholder="Description"
              >
              </textarea>
            </div>
            <div class="text-center">
              <button type="button"
                      class="btn bg-gradient-dark w-100 my-4 mb-2"
                      (click)="addProject()"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
