<!--
&lt;!&ndash; START Testimonials w/ user image & text & info &ndash;&gt;
<section class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-lg-7 py-5">
          <div class="col-lg-3 col-md-5 position-relative my-auto">
            <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="../assets/img/bruce-mars.jpg" alt="bruce">
          </div>
          <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h4 class="mb-0">Michael Roven</h4>
              <div class="d-block">
                <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">Follow</button>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-auto">
                <span class="h6">323</span>
                <span>Posts</span>
              </div>
              <div class="col-auto">
                <span class="h6">3.5k</span>
                <span>Followers</span>
              </div>
              <div class="col-auto">
                <span class="h6">260</span>
                <span>Following</span>
              </div>
            </div>
            <p class="text-lg mb-0">
              Decisions: If you can’t decide, the answer is no.
              If two equally difficult paths, choose the one more
              painful in the short term (pain avoidance is creating
              an illusion of equality). Choose the path that leaves
              you more equanimous. <br><a href="javascript:;" class="text-info icon-move-right">More about me
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
&lt;!&ndash; END Testimonials w/ user image & text & info &ndash;&gt;
&lt;!&ndash; START Blogs w/ 4 cards w/ image & text & link &ndash;&gt;
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="mb-5">Check my latest blogposts</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain card-blog">
          <div class="card-image border-radius-lg position-relative">
            <a href="javascript:;">
              <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              <a href="javascript:;" class="text-dark font-weight-bold">Rover raised $65 million</a>
            </h5>
            <p>
              Finding temporary housing for your dog should be as easy as
              renting an Airbnb. That’s the idea behind Rover ...
            </p>
            <a href="javascript:;" class="text-info icon-move-right">Read More
              <i class="fas fa-arrow-right text-sm"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain card-blog">
          <div class="card-image border-radius-lg position-relative">
            <a href="javascript:;">
              <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-wall.jpg">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              <a href="javascript:;" class="text-dark font-weight-bold">MateLabs machine learning</a>
            </h5>
            <p>
              If you’ve ever wanted to train a machine learning model
              and integrate it with IFTTT, you now can with ...
            </p>
            <a href="javascript:;" class="text-info icon-move-right">Read More
              <i class="fas fa-arrow-right text-sm"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain card-blog">
          <div class="card-image border-radius-lg position-relative">
            <a href="javascript:;">
              <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-clock.jpg">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              <a href="javascript:;" class="text-dark font-weight-bold">US venture investment ticks</a>
            </h5>
            <p>
              Venture investment in U.S. startups rose sequentially in
              the second quarter of 2017, boosted by large, ate-stage financings
            </p>
            <a href="javascript:;" class="text-info icon-move-right">Read More
              <i class="fas fa-arrow-right text-sm"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-12">
        <div class="card card-blog card-background">
          <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/seaside.jpg')"></div>
          <div class="card-body">
            <div class="content-left text-start my-auto py-4">
              <a href="javascript:;">
                <h2 class="card-title text-white">Flexible work hours</h2>
                <p class="card-description text-white">Rather than worrying about switching offices every couple years, you stay in the same place.</p>
                <a href="javascript:;" class="text-white icon-move-right">Read More
                  <i class="fas fa-arrow-right text-sm"></i>
                </a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
&lt;!&ndash; END Blogs w/ 4 cards w/ image & text & link &ndash;&gt;
<section class="py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 d-flex justify-content-center flex-column">
        <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
          <div class="text-center">
            <h3 class="text-gradient text-primary">Contactez-nous</h3>
            <p class="mb-0">
              Pour d'autres questions, y compris les opportunités de partenariat, veuillez envoyer un e-mail à zackabess@gmail.com
              ou contactez-nous via notre formulaire de contact.
            </p>
          </div>
          <form id="contact-form" method="post" autocomplete="off">
            <div class="card-body pb-2">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    Nom complet
                  </label>
                  <div class="input-group mb-4">
                    <input class="form-control" placeholder="Votre Nom" aria-label="Nom complet" type="text">
                  </div>
                </div>
                <div class="col-md-6 ps-md-2">
                  <label>Adress mail</label>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="zackabess@gmail.com">
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 mt-md-0 mt-4">
                <label>Comment Puis-je vous aider ?</label>
                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Votre message ici..."></textarea>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Envoyer</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
-->
