<div class="card p-1 p-md-3 w-100"
     style="height: 300px;"
>
  <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100"
       style="background-image: url('{{project.image}}');">
<!--    <span *ngIf="isRealisation" class="mask bg-gradient-faded-dark opacity-4"></span>-->
    <span class="mask bg-gradient-faded-dark opacity-9"></span>
    <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
      <h5 class="text-white font-weight-bolder mb-4 pt-2">{{ project.title }}</h5>
      <p class="text-white">{{ project.description }}</p>
      <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto"
         [href]="project.link"
         target="_blank"
      >
        Voir le projet
        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
